nav {
	background-color: #8282ff !important;
}

.nav li:not(.active) a {
	color: #eeeeff !important;
}

.nav li:not(.active) a:hover {
	background-color: #a2a2ff !important;
}

.active {
	background-color: #eeeeff !important;
}

.active a {
	color: #8282ff !important;
}

footer {
	position: relative;
	top: 5em;
	font-size: 0.9em;
	border-top: 1px solid #dedede;
}

#error {
	color: red;
}

#success {
	color: #008800;
}
