<!DOCTYPE html5>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="{{ url_for('show_main_admin') }}" {{ 'class=actual' if navlink == 'dashboard' }}>Dashboard</a>
				<a href="{{ url_for('show_users') }}" {{ 'class=actual' if navlink == 'users'}}>Users</a>
				<a href="{{ url_for('show_posts') }}" {{ 'class=actual' if navlink == 'posts'}}>Posts</a>
				<a href="{{ url_for('do_logout') }}">Log Out</a>
			</li>
		</ul>
		<div id="username"> {{ current_user.name }} </div>
	</nav>
	<article>
		{% block body %}{% endblock %}
	</article>
</body>
</html>
