<!DOCTYPE html5>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"> </script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}" />
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<ul class="nav navbar-nav">
			<li {{ 'class=active' if navlink == 'dashboard' }}><a href="{{ url_for('show_main_admin') }}" >Dashboard</a></li>
			<li {{ 'class=active' if navlink == 'users'}}><a href="{{ url_for('show_users') }}">Users</a></li>
			<li {{ 'class=active' if navlink == 'posts'}}><a href="{{ url_for('show_posts') }}">Posts</a></li>
			<li><a href="{{ url_for('do_logout') }}">Log Out</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">{{ current_user.name }}</a></li>
		</ul>

	</nav>
	<article>
		<div class="row" style="position: relative; left: 2%">
		<div class="col-sm-11">
		{% block body %}{% endblock %}
		</div>
		</div>
	</article>
	<footer>
		Ghostwriter - Licensed under MIT License <br/>
		Copyright &copy; 2017 Arthur M
	</footer>
</body>
</html>
