{% extends "menu.html" %}
{% block title %} Ghostwriter - Posts {% endblock %}

{% block body %}

<h1>Posts</h1>

<a href="{{ url_for('admin_create_post') }}">Create Post</a>

<div id="minfo"></div>
<div id="merror"></div>

<script type="text/javascript">

function delete_post(postid) {
	var minfo = $("#minfo");
	var merror = $("#merror");

	$.ajax({
		cache: false,
		method: 'DELETE',
		url: '/api/post/'+postid+'/',
		success: function(val) {
			minfo.text('Post deleted successfully');	
			$("tr[data-post-id="+postid+"]").remove();
		},
		statusCode: {
			404: function() {
				merror.text('Could not find post, not deleted');
				return
			}
		},
		error: function(xhr, strstatus) {
			merror.text('An error occurred while deleting');
			return;					
		},
	});
}

$(document).ready( function () {
	var table = $("#posts_table tbody");
	table.empty();

	$.ajax({
		cache: false,
		method: 'GET',
		dataType: 'json',
		url: '{{ url_for('posts_get') }}',
		success: function(posts) {
			$.each(posts, (idx, val) => {
				var pitem = $("<tr data-post-id='"+val.id+"'>");
				pitem.append($("<td>"+val.id+"</td>"));
				pitem.append($("<td>"+val.title+"</td>"));
				pitem.append($("<td>"+val.creation_date+"</td>"));
				pitem.append($("<td>"+val.owner.name+"</td>"));
				pitem.append($("<td><a href='/admin/posts/edit/"+val.id+"/'>Edit</a></td>"));
				pitem.append($("<td><a href='#' onClick='delete_post("+val.id+")'>Delete</a></td>"));
				table.append(pitem);

			});
		},
		statusCode: {
			404: function() {
				table.empty();
				table.append("<tr><td colspan='4'>"+
					"No posts found</td></tr>");
				return;					
			}
		},
		error: function(xhr, strstatus) {
			table.empty();
			table.append("<tr><td colspan='4'>"+
				"An error occurred</td></tr>");
			return;					
		}
		
	});

});
</script>


<table id="posts_table" class="table table-condensed">
	<thead>
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th class="col-md-1">Creation Date</th>
		<th class="col-md-1">Owner</th>
		<th><!-- Edit --></th>
		<th><!-- Delete --></th>
	</tr>
	</thead>
	<tbody />
</table>


{% endblock %}
